input:invalid{
    border-color: darkred;
    text-align: center;
}
input:valid{
    border-color: darkgreen;
}
#resultWorker{
    position: absolute;
    top: 18px;
    left: 500px;
    width: 100px;
    height: 100px;
}
#placeForImage{
    width: 100px;
    height: 100px;
}
#innerResultWorker{
    position: fixed;
    top: 18px;
    left: 500px;
    width: 100px;
    height: 100px;

}
